/* HomePage */
/* HEADER */
.headerImg1{
  min-width: 70%;
  max-height: 500px;
border-radius: 90px;
}

/* ABOUT */
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  text-align: center;
  max-width: 1500px;
  margin:0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
}

.about > div {
  flex: 1; 
  margin: 0 10px; 
}
/* BUTTON */

.ConnectBTN {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 30px;
  color: #ffffff; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, border-color 0.3s;
}

.ConnectBTN::before {
  content: '';
  position: absolute;
  background-color: #00cc00; 

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  transition: transform 0.3s;
  transform: translateX(-100%);
}

.ConnectBTN:hover {
  color: black;
  font-weight: bold;
  border-color: transparent;
}

.ConnectBTN:hover::before {
  transform: translateX(0); 
}

/* Media Query for mobile view */
@media (max-width: 768px) {
  .about {
    flex-direction: column; 
    padding-top: 50px;

  }
  .Intro1{
    font-size: 30px;
 font-weight: bold;
  }
  .Intro2{
    font-size: 20px;
    font-weight: 600;

  }
  .headerImg1{
    max-width: 300px;
    max-height: 300px ;
    margin-top: 40px;
  border-radius: 60px;
  }
}
@media (min-width: 769px) {
.Intro1{
  font-size: 40px;
  margin-left: 50px;
}
.Intro2{
  font-size: 20px;
  font-weight: 600;
  margin-left: 50px;
}
.ConnectBTN{
  margin-left: 50px;

}


}