.esports-page {
  font-family: Arial, sans-serif;
  text-align: center;
}

.Esports-EB {
  background-color: rgb(0, 51, 102);
  min-height: 100vh;
}

.Esports-image-container {
  position: relative;
  width: 100vw;
}

.Esports-E1 {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
}
.content-wrapper {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.ES1-image {
  max-width: 50%;
}
.Esports-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 215, 0);
  font-weight: bolder;
  font-size: 50px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); 
}

.AboutUs-overlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 215, 0);
}

.esports-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.esports-topic {
  flex: 1;
  max-width: 800px; 
  margin-top: 20px;
}

.esports-topic p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .Esports-E1 {
    height: auto;
    max-height: 50vh;
  }
  .Esports-text-overlay{
    font-size: 20px;
  }
}
