
body {
  overflow-x: hidden;
}
.HeaderPrimary{

  padding: 20px 0;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1000;

}

.header {
  margin:0 auto;

}
.HeaderPrimary.esports{
  color: black;
}
.header.esports {
  position: relative;
 
  background-color: rgb(23, 184, 23);
  
margin-top: -20px;
padding:20px;
margin-bottom: -45px;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
 text-align: center !important;
 
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffe9e9;
  text-decoration: none;
}
.logo:hover {
  color: rgb(0, 0, 0); 
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}


.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffe7e7;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #000000;
}

.mobile-menu-icon {
  display: none;
}
.MMI-icon{
  height: 45px;
}
.container .navbar.open ul,
.container .navbar.open {
  display: flex;
  
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
left: 75%;
max-width: 100%;
/* this was done because the user has better ease of acces to the mobile nav menu for better UI and UX */
overflow-x: hidden;
    background-color:transparent;

  }

  .navbar ul li a {
    text-decoration: none;
    color:white;
    transition: color 0.3s ease;
  }
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }
}
@media (min-width: 769px) {
  .navbar ul li {
    margin-left: 20px; 
  }
  }
  