.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  max-height: 30px;
padding-bottom: 15px;
color: white;
}
.ft{
  margin-top: 9px !important;
}

.footer.esports {
  background-color: green;
}